%div.hero-unit
  %h2 Hello, world!
  %p
    BuySell is a platform that connects buyers and sellers. It's packed with so many features that will make you go crazy about it. No fuzz. Why don't you take a tour?
  %p
    %a.btn.btn-green Take a Tour &raquo;

%div.row
  %div.span4
    %h2 It's Powerful
    %p Blah Blah. and more blah.. and finally blah blah blah
  %div.span4
    %h2 It's Intuitive
    %p Blah Blah. and more blah.. and finally blah blah blah
  %div.span4
    %h2 It's Magical
    %p Blah Blah. and more blah.. and finally blah blah blah

%br
%br
%br
%footer.pull-right
  Copyright &copy; 2011 BuySell Inc.,